<%= provide(:stylesheets, stylesheet_link_tag("jquery.tagsinput.css")) %>
<%= provide(:javascripts, javascript_include_tag('jquery.tagsinput.js', "collections")) %>
<%= form_for @collection do |f| %>
  <%= f.hidden_field :types, :value => params[:types] %>

  <% if @collection.errors.any? %>
  <div class="alert alert-error">
    <%= @collection.errors.full_messages.join('<br>').html_safe %>
  </div>
  <% end %>

  <div class="mb10">
    <%= f.label :title, "合集标题<small class='muted'>（必填）</small>".html_safe %>
    <%= f.text_field :title, class: 'form-input input-block-level' %>
  </div>
  <div class="mb20">
    <%= f.label :description, "补充描述<small class='muted'>（必填）</small>".html_safe %>
    <%= f.text_area :description, :rows => 4, class: 'input-block-level form-input', style: "height: 150px;" %>
  </div>
  <div class="mb20">
    <label>标签 <small class='muted'>输入完成按"回车"完成添加</small></label>
    <%= f.text_field :tag_list, value: @collection.tags.join(", "), class: 'form-input input-block-level', id: "tags" %>
    <div class="sys_tags mt10">
      <span class="muted">点击选择标签：</span>
      <% Collection.sys_tags.each do |tag| %>
      <a class="<%= 'selected' if @collection.tags.map{|t| t.name}.include?(tag) %>" href="javascript:void(0);"><%= tag %></a>
      <% end %>
    </div>
  </div>
  <div>
    <%= f.submit "提交", :class => "btn btn-success span2" %>
    <a style="margin-left: 10px;" href="<%= @collection.id.blank? ? user_path(current_user) : collection_path(@collection) %>" class="muted fs12">取消</a>
  </div>
<% end %>