<div class="row" id="collection">
  <div class="span9">
    <h1 class="page-title"><%= @collection.title %></h1>
    <div><%= @collection.description %></div>

    <div class="muted fs12">
      <%= @collection.created_at.strftime("%Y-%m-%d %H:%I:%S") %>
      <%= link_to  @collection.comments.size.to_s+"条评论",
                   comments_path(@collection.class.to_s.underscore, @collection.id),
                   class: 'load-comments',
                   remote: true
      %>
    </div>

    <div id="comments">
      <div class="comments">

      </div>
      <div>
        <%= render partial: "collections/comments_form", locals: {comment: @comment} %>
      </div>
    </div>
    <div class="mb10 mt10">
      <i class="icon-tasks"></i>
      <%= @collection.links.size %>
      条链接：
    </div>
    <ul class="links">
      <% @collection.links.each do |link| %>
          <li class="clearfix"><%= render "links/item", link: link %></li>
      <% end %>
    </ul>

    <div>
      <span>添加链接</span>
      <%= render :partial => "links/form", locals: {link: Link.new(collection_id: @collection.id)} %>
    </div>
  </div>
  <div class="span3">
    相关合集：
  </div>
</div>
