<% provide(:title, @collection.title) %>
<% provide(:description, @collection.description) %>
<% provide(:stylesheets, stylesheet_link_tag("collections")) %>
<%= provide(:javascripts, javascript_include_tag("collections")) %>

<div class="row" id="collection">
  <div class="span9">
    <div class="box padding20">
      <div class="info">
        <div>
          <% @collection.tags.each do |tag| %>
          <code><a href="#"><%= tag.name %></a></code>
          <% end %>
        </div>
        <h1 class="page-title">
          <a title="<%= @collection.user.username %>" href="<%= user_path(@collection.user) %>" class="pull-right">
            <img width="25" height="25" src="<%= @collection.user.avatar.middle %>"/>
          </a>
          <%= @collection.title %>
          <% if can? :edit, @collection %>
              <a href="<%= edit_collection_path(@collection) %>" class="sq-btn"><i class="sq-icon-edit"></i>修改合集</a>
          <% end %>
        </h1>
        <div class="fs12 mt5"><%= simple_format @collection.description %></div>

        <div class="muted fs12 mt5">
          <a href="<%= user_path(@collection.user) %>" target="_blank"><%= @collection.user.username %></a>
          <%= @collection.created_at.strftime("%Y-%m-%d %H:%I:%S") %>
          <%= link_to  @collection.comments.size.to_s+"条评论",
                       comments_path(@collection.class.to_s.underscore, @collection.id),
                       remote: true,
                       "data-show" => render_comment_id(@collection),
                       class: "a_comment"
          %>
        </div>

        <div id="<%= render_comment_id(@collection) %>" class="comments"></div>

        <!--div class="mb10 mt10">
          <i class="icon-tasks"></i>
          <%= @collection.links.size %>
          条链接：
        </div-->
      </div>

      <% @collection.all_links.each do |group, links| %>
        <div class="group">
          <% unless group.blank? %>
              <%= render "link_groups/item", link_group: group %>
          <% end %>

          <div class="links">
            <% links.each do |link| %>
              <%= render "links/item", link: link %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @collection.all_links.blank? %>
        <div class="group">
          <div class="links">
          </div>
        </div>
      <% end %>

      <div class="add-links">
        <%= render :partial => "links/form", locals: {link: Link.new(collection_id: @collection.id)} %>
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="likable clearfix">
      <%= link_to "关注",
                  likes_path(@collection.class.to_s.underscore, @collection.id),
                  remote: true,
                  method: "post",
                  class: "btn btn-block btn-success mb10"
      %>
      <div class="mb10 muted">
        <a href="javascript:void(0);"><%= @collection.likes.size %></a>
        人关注该合集：
      </div>

      <div class="user_list unstyled mb0">
        <% @collection.likes.each do |like| %>
          <a href="<%= user_path(like.user) %>" title="<%= like.user.username %>">
            <img width="25" height="25" src="<%= like.user.avatar.middle %>"/>
          </a>
        <% end %>
      </div>
    </div>

    <div class="clearfix line mt10 mb10"></div>

    <div>
        <div><strong>相关合集</strong></div>
        <div><small class="muted">别在意这个正在完成的细节~</small></div>
    </div>

    <div class="clearfix line mt10 mb10"></div>

    <div>
      <div><strong>合集状态</strong></div>
      <div class="fs12 muted">
        被浏览<strong><%= @collection.views %></strong>次
      </div>
    </div>
  </div>
</div>
