<h1><%= @collection.title %></h1>
<div><small class="muted"><%= @collection.description %></small></div>

<div>
  评论(<%=@collection.comments.size%>)：
  <ul id="comments">
    <% @collection.comments.each do |comment| %>
        <%= render partial: "comments/item", locals: {comment: comment} %>
    <% end %>
  </ul>
  <div><%= render :partial => 'comments/form', :locals => {:comment => @comment} %></div>
</div>

<div>链接列表：</div>
<ul class="links">
  <% @collection.links.each do |link| %>
  <li class="clearfix"><%= render "links/item", link: link %></li>
  <% end %>
</ul>

<div>
  <span>添加链接</span>
  <%= render :partial => "links/form", locals: {link: Link.new(collection_id: @collection.id)} %>
</div>