<% provide(:title, @collection.title) %>
<% provide(:description, @collection.description) %>

<div class="row" id="collection">
  <div class="span9">
    <div>
      <% @collection.tags.each do |tag| %>
      <code><a href="#"><%= tag.name %></a></code>
      <% end %>
    </div>
    <h1 class="page-title"><%= @collection.title %></h1>
    <div><%= @collection.description %></div>

    <div class="muted fs12">
      <a href="<%= user_path(@collection.user) %>" target="_blank"><%= @collection.user.username %></a>
      <%= @collection.created_at.strftime("%Y-%m-%d %H:%I:%S") %>
      <%= link_to  @collection.comments.size.to_s+"条评论",
                   comments_path(@collection.class.to_s.underscore, @collection.id),
                   remote: true,
                   "data-show" => render_comment_id(@collection),
                   class: "a_comment"
      %>
      •
      <%= link_to @collection.likes.size.to_s+"关注".html_safe,
                   likes_path(@collection.class.to_s.underscore, @collection.id),
                   remote: true,
                   :method => "post"
      %>
    </div>

    <div id="<%= render_comment_id(@collection) %>" class="comments"></div>

    <div class="mb10 mt10">
      <i class="icon-tasks"></i>
      <%= @collection.links.size %>
      条链接：
    </div>
    <ul class="links">
      <% @collection.links.sort_by{|link| link.votes.where(vote: 'up').size - link.votes.where(vote: 'down').size }.reverse.each do |link| %>
          <li class="clearfix"><%= render "links/item", link: link %></li>
      <% end %>
    </ul>

    <div class="add-links">
      <%= render :partial => "links/form", locals: {link: Link.new(collection_id: @collection.id)} %>
    </div>
  </div>
  <div class="span3">
    相关合集：
    <div><small class="muted">别在意这个正在完成的细节~</small></div>
  </div>
</div>
