<h1><%= @collection.title %></h1>
<div><small class="muted"><%= @collection.description %></small></div>
<div>链接列表：</div>
<ul>
  <li></li>
</ul>
<div>
  <span>添加链接</span>
  <%= form_for Link.new do |f| %>
      <%= f.label :url, "链接地址" %>
      <%= f.text_field :url %>
      <%= f.submit "添加", :class => "btn" %>
  <% end %>
</div>