<div class="row">
  <div class="span3">
   你好头像
    <div>
      <img src="<%= @user.avatar %>" />
    </div>
    <div>
      <a href="javascript:void(0);">修改头像</a>
      <%= form_for @user, html: { multipart: true } do |f| %>
          <%= f.file_field :avatar %>
          <%= f.submit "上传" %>
      <% end %>
    </div>
  </div>
  <div class="span9">
    <div>
      合集列表
      <a href="<%= new_collection_path %>" class="btn btn-small">
        <i class="icon-plus-sign"></i>
        添加新合集
      </a>
    </div>
    <ul>
      <% @user.collections.each do |collection| %>
      <li><a href="<%= collection_path(collection) %>"><%= collection.title %></a></li>
      <% end %>
    </ul>
  </div>
</div>