<% provide(:title, @user.username) %>
<% provide(:stylesheets, stylesheet_link_tag("users")) %>
<% provide(:javascripts, javascript_include_tag("users")) %>
<div class="row user">
  <div class="span9">
    <div class="box mb20 clearfix">
      <div class="padding20 clearfix">
        <div class="avatar">
          <img width="200" height="200" src="<%= @user.avatar.big %>" />
          <% if can? :edit, @user %>
          <div class="edit">
            <%= form_for @user, html: { multipart: true } do |f| %>
                修改头像 <%= f.file_field :avatar, style:"width:70px;" %>
            <% end %>
          </div>
          <% end %>
        </div>

        <div class="attr">
          <h1><%= @user.username %></h1>
          <div style="height: 150px;"></div>
          <div class="muted fs12 mt10">于<%= @user.created_at.strftime("%Y-%m-%d %H:%I:%S") %>加入</div>
        </div>
      </div>

      <div class="nav-links">
        <a class="current first" href="<%= user_path(@user) %>" title="<%= @user.username+"的主页" %>"><i class="icon-home"></i></a>
        <a href="javascript:void(0);">合集 <span class="muted"><%= @user.collections.size %></span></a>
        <a href="javascript:void(0);">留言 <span class="muted"><%= @user.comments.size %></span></a>
        <a href="javascript:void(0);">收藏 <span class="muted"><%= @user.likes.size %></span></a>
      </div>
    </div>

    <div class="box padding20 mb20">
      <div>
        <strong><%= @user.username %>的合集</strong>
        <a href="<%= new_collection_path %>" class="btn">创建合集</a>
      </div>
      <ul class="collections">
        <% @user.collections.each do |collection| %>
            <li>
              <%= render partial: "collections/item", locals: { collection: collection } %>
              <small class="muted">更新于：<%= collection.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></small>
              <div class="pull-right">
                <small class="muted">
                  <a target="_blank" class="muted" href="<%= collection_path(collection) %>">
                    <%= collection.comments.size %>
                  </a> 条评论
                  <a target="_blank" class="muted" href="<%= collection_path(collection) %>">
                    <%= collection.links.size %>
                  </a> 条链接
                </small>
              </div>
            </li>
        <% end %>
      </ul>
    </div>

    <div class="board box padding20">
      <div><strong><%= @user.username %>的留言板</strong></div>
      <ul id="comments" class="comments" style="display: block;">
        <% @user.comments.each do |comment| %>
            <li>
              <div class="head">
                <a href="<%= user_path(comment.user) %>">
                  <img src="<%= comment.user.avatar.normal %>" />
                </a>
              </div>
              <div class="comment">
                <div>
                  <small class="muted">
                    <a href="<%= user_path(comment.user) %>"><%= comment.user.username %></a>
                    <%= comment.created_at.strftime('%Y-%m-%d %H:%M') %>
                  </small>
                </div>
                <div><%= comment.comment %></div>
              </div>
              <div class="clearfix"></div>
            </li>
        <% end %>
      </ul>
      <div>
        <%= render :partial => 'users/comments_form', :locals => {:comment => @comment} %>
      </div>
    </div>
  </div>

  <div class="span3 muted">
    <div class="social">
      <div class="following">
        <div class="mb10">关注了</div>
        <div><a href="javascript:void(0);"><%= @user.follow_count %></a>人</div>
      </div>
      <div class="follower">
        <div class="mb10">关注者</div>
        <div><a href="javascript:void(0);"><%= @user.followers_count %></a>人</div>
      </div>

      <div class="clearfix mb10"></div>

      <% unless myself_user?(@user) %>
          <% if user_signed_in? && current_user.following?(@user) %>
              <%= link_to "取消关注", unfollow_user_path(@user), method: "post", remote: true, id: "follow_"+@user.id.to_s, class: "btn btn-danger btn-block" %>
          <% else %>
              <%= link_to "关注", follow_user_path(@user), method: "post", remote: true, id: "unfollow_"+@user.id.to_s, class: "btn btn-success btn-block" %>
          <% end %>
      <% end %>
    </div>

    <% if @user.followers.any? %>
    <div class="line mt10 mb10"></div>
    <div class="followers clearfix">
      <div class="mb10"><strong><%= @user.username %></strong>的粉丝</div>
      <% @user.followers.each do |follower| %>
      <a href="<%= user_path(follower) %>" target="_blank"><img width="25" height="25" src="<%= follower.avatar.middle %>" title="<%= follower.username %>"/></a>
      <% end %>
    </div>
    <% end %>

    <% if @user.followeds.any? %>
        <div class="line mt10 mb10"></div>
        <div class="followers clearfix">
          <div class="mb10"><strong><%= @user.username %></strong>的关注</div>
          <% @user.followeds.each do |followed| %>
              <a href="<%= user_path(followed) %>" target="_blank"><img width="25" height="25" src="<%= followed.avatar.middle %>" title="<%= followed.username %>"/></a>
          <% end %>
        </div>
    <% end %>

    <div class="line mt10 mb10"></div>
    <div>
      <a class="muted fs12" href="">举报用户</a>
    </div>

    <div class="line mt10 mb10"></div>

    <div>
      个人主页被 <strong><%= @user.views %></strong> 次浏览
    </div>
  </div>
</div>