<%= form_for link, remote: true do |f| %>
    <% if link.errors.any? %>
        <div class="alert alert-error">
          <%= link.errors.full_messages.join('<br>') %>
        </div>
    <% end %>

    <%= f.hidden_field :collection_id, value: link.collection.id %>
    <div>
      <%= f.label :url, "链接地址" %>
      <%= f.text_field :url %>
    </div>

    <div>
      <%= f.label :description, "描述" %>
      <%= f.text_field :description %>
    </div>

    <div>
      <%= f.submit "添加", :class => "btn" %>
    </div>
<% end %>