<%= form_for link, remote: true do |f| %>
    <% if link.errors.any? %>
        <div class="alert alert-error">
          <button class="close">&times;</button>
          <%= link.errors.full_messages.join('<br>').html_safe %>
        </div>
    <% end %>

    <%= f.hidden_field :collection_id, value: link.collection.id %>

    <div>
      <%= f.label :link_group_id, "分组" %>
      <select name="link_group_id">
        <option></option>
      </select>
      <a href=""><i class="icon-plus-sign"></i>添加分组</a>
    </div>

    <div>
      <%= f.label :url, "链接地址<small>( 必填 )</small>".html_safe %>
      <%= f.text_field :url, class: 'span5' %>
    </div>

    <% unless link.errors.messages[:title].blank? %>
    <div>
      <%= f.label :title, "标题<small>( 必填 )</small>".html_safe %>
      <%= f.text_field :title, class: 'span5' %>
    </div>
    <% end %>

    <div>
      <%= f.label :description, "描述<small class='muted'>( 详细的描述有助于大家理解以节省验证的时间 )</small>".html_safe %>
      <%= f.text_area :description, class: 'span5', rows: 3 %>
    </div>

    <div>
      <%= f.submit "添加链接", :class => "btn" %>
      <% unless user_signed_in? %>
      <a href="<%= new_user_session_path %>" class="muted fs12">登录</a>
      <% end %>
    </div>
<% end %>