<div class="pull-left vote">
  <%= form_tag votes_path(link.class.to_s.underscore, link.id), :method => "post", :remote => true do %>
      <input type="hidden" name="vote[vote]" value="up"/>
      <button type="submit" title="好东西，赞" class="up">
        <i class="icon-thumbs-up"></i>
      </button>
  <% end %>
  <div class="number text-center">
    <%= (link.votes.where(vote: 'up').size - link.votes.where(vote: 'down').size) %>
  </div>
  <%= form_tag votes_path(link.class.to_s.underscore, link.id), :method => "post", :remote => true do %>
      <input type="hidden" name="vote[vote]" value="down"/>
      <button type="submit" title="坑爹" class="down">
        <i class="icon-thumbs-down"></i>
      </button>
  <% end %>
</div>

<div class="link">
  <div><a target="_blank" href="<%= link.url %>"><%= link.title %></a></div>
  <div><%= link.description %></div>
  <div style="font-size: 12px;" class="muted">
    <a class="muted fs12" href="<%= user_path(link.user) %>"><%= link.user.username %></a>
    <span><%= link.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
    第一次添加

    <!--a class="black fs12" style="color: #000;" href="javascript:void(0);"><i class="icon-bookmark"></i>收藏</a>
    <a class="black fs12" style="color: #000;" href="javascript:void(0);"><i class="icon-trash"></i>不相关链接</a>
    <a class="black fs12" style="color: #000;" href="javascript:void(0);"><i class="icon-map-marker"></i>举报</a-->
  </div>
</div>