<%= render :partial => "votes/form", :locals => {:votable => link} %>
<div class="link">
  <div>
    <a href="<%= link_path(link) %>">
      <%= link.title %>
    </a>
  </div>

  <div class="timeline fs12 muted">
    <span title="<%= link.updated_at.strftime("%Y-%m-%d %H:%I:%S") %>">
      <%= time_ago_in_words(link.updated_at) %>前
    </span>
    <span>由 <a href="<%= user_path(link.user) %>"><%= link.user.username %></a> 发布</span>
    <% if !link.collection.blank? %>
        所属合集：
        <a href="<%= collection_path(link.collection) %>"><%= truncate(link.collection.title, length: 20) %></a>
    <% elsif link.tags.any? %>
        所属标签：
        <% link.tags.each do |tag| %>
            <a href="<%= tag_path(tag.name) %>"><%= tag.name %></a>
        <% end %>
    <% end %>
  </div>

  <% if image?(link.url) %>
  <div class="mb10">
    <% link.images.each do |image| %>
        <%= image_tag image.file.thumb.url %>
    <% end %>
  </div>
  <% end %>

  <% if video?(link.url) %>
  <div class="mb10">
    <embed src="<%= link.url %>" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
  </div>
  <% end %>

  <div class="buttons fs12">
    <%= link_do_like(link) %>
    <a href="<%= link_path(link) %>#comments"><%= link.comments_count %>评论</a>
  </div>
</div>