<div class="pull-left vote">
  <%= form_tag votes_path(link.class.to_s.underscore, link.id), :method => "post", :remote => true do %>
      <input type="hidden" name="vote[vote]" value="up"/>
      <button type="submit" title="好东西，赞" class="up">
        <i class="icon-thumbs-up"></i>
        <%= link.votes.where(vote: 'up').size %>
      </button>
  <% end %>

  <%= form_tag votes_path(link.class.to_s.underscore, link.id), :method => "post", :remote => true do %>
      <input type="hidden" name="vote[vote]" value="down"/>
      <button type="submit" title="坑爹" class="down">
        <i class="icon-thumbs-down"></i>
        <%= link.votes.where(vote: 'down').size %>
      </button>
  <% end %>
</div>

<div class="pull-left">
  <div><a target="_blank" href="<%= link.url %>"><%= link.title %></a></div>
  <div><small><%= link.description %></small></div>
  <div style="font-size: 12px;">
    <a href="<%= users_path(link.user) %>"><%= link.user.username %></a>
    <span class="muted"><%= link.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
    第一次添加
  </div>
</div>