<div class="row">
  <div class="span9">
    <ul class="sort mb0 nav nav-tabs">
      <li <%= 'class=active' if params[:sort].blank? || params[:sort] == "hottest" %>><a href="<%= links_path(:sort => "hottest") %>">最热</a></li>
      <li <%= 'class=active' if params[:sort] == "latest" %>><a href="<%= links_path(:sort => "latest") %>">最新</a></li>
      <li <%= 'class=active' if params[:sort] == "comment" %>><a href="<%= links_path(:sort => "comment") %>">最多评论</a></li>
    </ul>

    <div class="box padding20">
      <% @links.each do |link| %>
      <div class="clearfix mb10">
        <%= render :partial => "links/item_simple", :locals => {:link => link} %>
      </div>
      <% end %>
    </div>

    <div class="text-center">
      <%= paginate @links, :theme => 'bootstrap' %>
    </div>
  </div>
  <div class="span3">
    <div class="line mb10"></div>
    <div class="mb10">
      <a href="<%= new_link_path %>" class="btn btn-success btn-block">添加链接</a>
    </div>
    <div class="line mb10"></div>
    <div>
      <div><strong>热门标签</strong><a href="<%= tags_path %>" class="fs12 muted pull-right">更多</a> </div>
      <div>
        <% Tag.hottest.each do |tag| %>
          <a href="<%= tag_path(tag.name) %>">#<%= tag.name %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>