<div class="sort mb10">
  <a href="">最热</a>
  <a href="">最新</a>
  <a href="">得分最高</a>
</div>

<div class="row">
  <div class="span9">
    <div class="box padding20">
      <% @links.each do |link| %>
      <div class="clearfix">
        <%= render partial: "votes/form", locals: {votable: link} %>

        <div>
          <div>
            <a href="<%= link_path(link) %>">
              <%= link.title %>
            </a>
          </div>

          <div>
            <% if link.collection_id.blank? %>
              来自标签：<a href="<%= tag_path(link.tagsp[0].name) %>"><%= link.tags[0].name %></a>
            <% else %>
              来自合集：<%= link.collection.title unless link.collection.blank? %>
            <% end %>
          </div>

          <div class="muted fs12">
            <img width="16" height="16" src="<%= link.user.avatar.small %>" alt="<%= link.user.username %>" title="<%= link.user.username %>"/>
            <span>
              <%= link.user.username %>
              更新于
              <%= link.updated_at.strftime("%Y-%m-%d") %>
            </span>

            <%= link_do_like(link, "收藏") %>
            <a class="muted" href="<%= link_path(link) %>#comments"><%= link.comments.size %>评论</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="text-center">
      <%= paginate @links, :theme => 'bootstrap', :remote => true %>
    </div>
  </div>
  <div class="span3">
    <div class="line mb10"></div>
    <div class="mb10">
      <a href="<%= new_link_path %>" class="btn btn-success btn-block">添加链接</a>
    </div>
    <div class="line mb10"></div>
    <div>
      <div><strong>热门标签</strong><a href="<%= tags_path %>" class="fs12 muted pull-right">更多</a> </div>
      <div>
        <% Tag.hottest.each do |tag| %>
          <a href="<%= tag_path(tag.name) %>">#<%= tag.name %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>