<div class="row">
  <div class="span9">
    <div class="box padding20">
      <div>
        <%= render :partial => "votes/form", :locals => {:votable => @link} %>

        <div>
            <h2 class="mb10"><a href="<%= @link.url %>"><%= @link.title %></a></h2>
            <div>
              <%= @link.user.username %>
              <a href=""><%= @link.likes.size %>收藏</a>
            </div>
        </div>
      </div>


      <div class="comments">
        <% @link.comments.each do |comment| %>
          <div><%= comment.comment %></div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="mb10">
      <% if @link.tags.any? %>
        <div><strong>所属标签</strong></div>
        <% @link.tags.each do |tag| %>
          <a href="<%= tag_path(tag.name) %>"><%= tag.name %></a>
        <% end %>
      <% end %>

      <% if !@link.collection.blank? %>
        <div><strong>所属合集</strong></div>
        <a href="<%= collection_path(@link.collection) %>"><%= @link.collection.title %></a>
      <% end %>
    </div>

    <div class="line mb10"></div>

    <div class="mb10">
      <div><strong>相似链接</strong></div>
    </div>
    <div class="line mb10"></div>
    <div class="mb10">
      <a href="<%= new_link_path(:tags => @link.tags.join(",")) %>" class="btn btn-success btn-block">添加链接</a>
    </div>
    <div class="line mb10"></div>
    <div>
      <div><strong>链接状态</strong></div>
      <div class="fs12 muted">被 <strong><%= @link.views %></strong> 次浏览</div>
    </div>
  </div>
</div>