<% provide :title, "标签＃#{@tag.name}＃下的#{sort_cn(params[:sort])}资源" %>

<div class="row">
  <div class="span9">
    <ul class="sort mb0 nav nav-tabs">
      <li <%= 'class=active' if params[:sort].blank? || params[:sort] == "hottest" %>><a href="<%= tag_path(@tag.name, :sort => "hottest") %>">最热</a></li>
      <li <%= 'class=active' if params[:sort] == "latest" %>><a href="<%= tag_path(@tag.name, :sort => "latest") %>">最新</a></li>
      <li <%= 'class=active' if params[:sort] == "comment" %>><a href="<%= tag_path(@tag.name, :sort => "comment") %>">最多评论</a></li>
    </ul>

    <div class="box padding20">
      <% @tag.taggings.each do |tagging| %>
          <div class="item clearfix">
            <% case tagging.taggable.class.to_s.downcase %>
            <% when "collection" %>
                <div>
                  合集
                  <a href="<%= collection_path(tagging.taggable) %>">
                    <%= tagging.taggable.title %>
                  </a>
                </div>
            <% when "link" %>
                <%= render :partial => "links/item_simple", :locals => {:link => tagging.taggable} %>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="span3">
    <div class="mb5">
      <div><strong><%= @tag.name %></strong></div>
      <div class="muted"><small>被浏览 <%= @tag.views %> 次</small></div>
    </div>

    <div class="line mb10"></div>

    <div class="mb10">
      <%= button_do_like(@tag, "关注该标签") %>
      <div class="mt10">
        <%= @tag.likes.size %> 人关注该标签
        <% if @tag.likes.any? %>
        <div class="mt10"></div>
        <% end %>
      </div>
    </div>

    <div class="line mb10"></div>

    <div>
      <a class="btn btn-success btn-block" href="<%= new_link_path(:tags => @tag.name) %>">添加链接</a>
      <%= help_new_link %>
    </div>

  </div>
</div>