<%= provide :stylesheets, stylesheet_link_tag("home") %>

<div class="row">
  <div class="span8">
    <div class="box padding20">
      <div class="mb10">
        <strong>近期热门链接</strong>
        <a href="<%= links_path(:sort => "hottest") %>" class="muted fs12">更多</a>
        <a href="<%= links_path(:sort => "latest") %>" class="muted fs12 pull-right">最新链接</a>
      </div>
      <div class="links">
        <% @links.each do |link| %>
            <%= render :partial => "links/item_simple", :locals => {:link => link} %>
        <% end %>
      </div>

      <div class="line mb10 clearfix"></div>
      <div class="mb10">
        <strong>近期热门合集</strong>
        <a href="<%= collections_path %>" class="muted fs12">更多</a>
      </div>
      <div>
        <% Collection.hottest.each do |collection| %>
        <div>
          <a href="<%= collection_path(collection) %>"><%= collection.title %></a>
          <span class="muted fs12"><%= collection.links.count %>条链接</span>
          -
          <span class="muted fs12"><%= collection.comments.count %>条评论</span>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="span4">
    <% unless user_signed_in? %>
    <div class="box padding10 mb10">
      <a href="<%= new_user_session_path(back: request.url) %>" class="btn btn-success btn-block">你为什么还不登陆？</a>
      <div class="muted fs12 padding10">
        登陆后可以分享/收藏链接，可以关注好友，可以评论以及和大家互动，还有很多好处等你探索，你懂的...
        <a href="<%= new_user_registration_path %>">还没注册？</a>
      </div>
    </div>
    <% end %>

    <div class="box padding10 mb10">
      <div class="mb5"><strong>热门标签</strong></div>
      <div>
        <%= render "tags/hot" %>
      </div>
    </div>

    <div class="box padding10">
      <div class="mb5"><strong>活跃用户</strong></div>
      <div class="users mb10 clearfix">
        <% User.active.each do |user| %>
          <a href="<%= user_path(user) %>">
            <img src="<%= user.avatar.middle %>" width="25" height="25"/>
          </a>
        <% end %>
      </div>

      <div class="mb5"><strong>最新用户</strong></div>
      <div class="users clearfix">
        <% User.latest.each do |user| %>
            <a href="<%= user_path(user) %>">
              <img src="<%= user.avatar.middle %>" width="25" height="25"/>
            </a>
        <% end %>
      </div>
    </div>
  </div>
</div>