<%= content_for(:stylesheets, stylesheet_link_tag("home")) %>
<div class="row">
  <div class="span8 collection">
    <% @collections.each do |collection| %>
    <a class="user" href="<%= user_path(collection.user) %>" title="<%= collection.user.username %>">
      <img src="<%= collection.user.avatar.normal %>" width="56" height="56">
    </a>
    <div class="box">
      <div class="detail">
        <a href="<%= collection_path(collection) %>"></a>
      </div>
      <div class="mb10">
        <a href="<%= collection_path(collection) %>">
          <%= collection.title %>
        </a>
      </div>
      <div class="mb10"><%= collection.description %></div>
      <div class="clearfix">
        <div class="pull-left">
          <a href="">
            <i class="icon-tasks"></i>
            <%= collection.links.size %>
            链接
          </a>

          <a href="">
            <i class="icon-comment"></i>
            <%= collection.comments.size %>
            评论
          </a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="span4">
    <div class="box">
      <h3>
        发现更多有趣的内容：
      </h3>
      <h3>
        热门标签：
      </h3>
      <h3>活跃用户：</h3>
      <div class="content">
      <% @users.each do |user| %>
      <a title="<%= user.username %>" href="<%= user_path(user) %>" target="_blank">
        <img src="<%= user.avatar.normal %>" />
      </a>
      <% end %>
      </div>
    </div>
    <small class="muted">别在意这些正在完成的功能~</small>
  </div>
</div>
