<%= content_for(:stylesheets, stylesheet_link_tag("home")) %>
<ul class="collections">
  <% @collections.each do |collection| %>
  <li class="clearfix">

    <div class="collection">
      <a href="<%= collection_path(collection) %>">
        <%= collection.title %>
      </a>
      <div>
        <small>
          <%= collection.user.username %>
          <%= collection.created_at.strftime("%Y-%m-%d %H:%I:%S") %>
        </small>
      </div>
      <div><small><%= collection.description %></small></div>
      <div>
        <% collection.tags.each do |tag| %>
        <code style="margin-right: 5px;">
          <a href=""><%= tag.name %> </a>
        </code>
        <% end %>
      </div>
    </div>
  </li>
  <% end %>
</ul>