<%= form_for link_group, remote: true do |f| %>
    <%= f.hidden_field :collection_id %>

    <% if link_group.errors.any? %>
        <div class="alert alert-error">
          <button class="close">&times;</button>
          <%= link_group.errors.full_messages.join('<br>').html_safe %>
        </div>
    <% end %>

    <div>
      <%= f.label :name, "分组名称<small class='muted'>(必填)</small>".html_safe %>
      <%= f.text_field :name, class: "form-input input-block-level" %>
    </div>

    <div class="mb20">
      <%= f.label :content, "分组描述".html_safe %>
      <%= f.text_area :content, class: "form-input input-block-level", style: "height: 100px;" %>
    </div>

    <div>
      <%= f.submit "确定", class: "btn span2" %>
    </div>
<% end %>